@model List<DOTNET_DIARIES.Models.Blogpost>
@using DOTNET_DIARIES.Helpers

@{
    ViewData["Title"] = "BlogpostsIndex";
}

@if (Model != null)
{

    <div class="container">
        <h1 class="text-center">Blogposts</h1>
        <div class="row">
            @foreach (var blogpost in Model)
            {
                <div class="col-md-4 border card">
                    <div class="d-flex justify-content-center mt-3">
                        <h2>@blogpost.Title</h2>
                    </div>
                    <div class="d-flex justify-content-evenly mb-3">
                        @if (blogpost.BlogpostTags != null)
                        {
                            @foreach (var tag in blogpost.BlogpostTags)
                            {
                            <span class="badge bg-secondary p-2">@tag.Tag.Name</span>
                            }
                        }
                        else
                        {
                            <p>Can't find Blogpost Tags</p>
                        }
                        
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="@blogpost.ImageUrl" alt="Blogpost Image" class="img-fluid" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <p>@blogpost.PostedDate.ToString("MMMM dd, yyyy")</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        @*<p>@blogpost.Content</p>*@
                        <p>@BlogHelpers.Truncate(@blogpost.Content, 50)</p>
                    </div>
                    
                    @*<div class="d-flex justify-content-center mb-3">
                        <a href="@Url.Action("Details", "Blogposts", new { id = blogpost.Id })">Read more</a>
                    </div>*@

                    <div class="d-flex justify-content-center mb-3">
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@blogpost.Id">Read More</a>
                    </div>
                    
                </div>
            }
        </div>

        
        
        @*
        <div class="row"></div>
            <div class="col-md-12">
                <a href="@Url.Action("Create", "Blogposts")" class="btn btn-primary">Create New Blogpost</a>
            </div>
        </div>
        *@
    </div>

}
